div.mycontainer {
    width:100%;
    overflow:auto;
    text-align: center;
}
div.mycontainer div {
    width:33%;  
    float:left;
}
.div-bg1{
    background-color:#01b616;
}
.div-bg2{
    background-color:red;
}
.div-bg3{
    background-color:blue;
}
h1 {
    color:rgb(255, 255, 255);
}

h2 {
    color:yellow;
}

.textgreen{
    color: green;
}

.textblue{
    color: blue;
}

#textpink{
    color: pink;
}